.cohort-page-container {
    border-bottom: 1px solid var(--color-blue5);
    margin-bottom: 1rem;
}

.cohort-page-memberlist {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding-bottom: 3px;
}

.cohort-details {
    padding-left: 1rem;
}

.cohort-member-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cohort-member-list h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.cohort-member-list .cohort-member-card {
    flex: 1;
}

.cohort-member-list .member-grid.Students {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    display: grid;
    overflow-y: auto;
}